# Editors
.vscode/
.code-workspace

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Тесты
.pytest_cache/
htmlcov/
.coverage
test_faults.db

# Project
logs/
*.db
backend/faults.db
docs/.$db.drawio.dtmp
uploads/
backups/
*.log
*.txt
log_20*
Новый*
